//-footer(class="mdl-mini-footer")
	div(class="mdl-mini-footer__left-section")
		div(class="mdl-logo")
			a(href="http://yumbo.univalle.edu.co" target="_blank")
				img(src="/public/imagenes/logo-footer.png" width="130")
	div(id="mdl-mini-footer__middle-section")
		ul
			li Universidad Del Valle
			li Sede Yumbo
			li Colombia

	div(id="mdl-mini-footer__right-section")
		ul
			li Dirección:
			li Calle 3N 2N-17 Barrio las vegas
			li Telefono:
			li +57 2 6699323
			li Correo:
			li: a(href="mailto:yumbo@univalle.edu.co") yumbo@univalle.edu.co
