// header
title Sistema de comunicacion Univalle Yumbo
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

//links de material design
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(href="https://code.getmdl.io/1.3.0/material.red-indigo.min.css" rel="stylesheet")
link(href="/public/css/font-roboto.css" rel="stylesheet" type="text/css")
script(defer src="https://code.getmdl.io/1.3.0/material.min.js")

//css de la carpeta public
link(href="/public/css/app.css" rel="stylesheet")
link(href="/public/css/helpers.css" rel="stylesheet")

//scripts de JQuery
script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")

//links de angular
script(src="https://code.angularjs.org/1.5.9/angular.min.js")
script(src="https://code.angularjs.org/1.5.9/angular-route.min.js")
script(src="https://code.angularjs.org/1.5.9/angular-animate.min.js")